{% extends 'baseSite.html' %}
{% block title %} Connexion {% endblock %}
{% load static %}
{% block content %}
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="card text-center" style="max-width: 400px;">
            <div class="card-body">
                <h1 class="card-title">Connexion</h1>
                <form method="post" action="{% url 'login' %}" class="mt-4">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                    <div class="mt-4 form-group">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-3">Se connecter</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
