{% extends 'baseSite.html' %}
{% block title %} Acteur {% endblock %}
{% load static %}
{% block content %}
<div class="container">
    {% if update %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="mb-4">Update Acteur</h1>
                <form class="form" action="{% url 'updateActeur' id=acteur.id %}" method="POST"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row align-items-center">
        <div class="col-md-4">
            <img src="{% static acteur.imageName.url %}" class="img-fluid img-large" alt="{{ acteur.nom }} {{ acteur.prenom }}">
        </div>
        
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ acteur.nom }} {{ acteur.prenom }}</h2>
                    <p class="card-text">Age : {{ acteur.age }}</p>
                    <p class="card-text">Description : {{ acteur.description }}</p>
                    <a href="{% url 'updateActeur' id=acteur.id %}" class="btn btn-warning">Modifier</a>
                    <a href="{% url 'deleteActeur' id=acteur.id %}" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
            <h3>Films dans lesquels {{ acteur.prenom }} {{ acteur.nom }} a joué :</h3>
            {% for film in films %}
            <div class="card mb-3" style="width: 10rem;">
                <a href="{% url 'film_view' id=film.id %}">
                    <img src="{% static film.imageName.url %}" class="card-img-top" alt="{{ film.title }}"
                        style="height: 10rem;">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ film.title }}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}