{% extends 'baseSite.html' %}
{% block title %} Realisateurs {% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        {% for realisateur in realisateurs %}
        <div class="col-md-4">
            <div class="card mb-4 h-100">
                <a href="{% url 'film_view' id=realisateur.id %}">
                    <div class="aspect-ratio aspect-ratio-1x1">
                        <img src="" class="card-img-top img-fluid aspect-ratio-child" alt="{{ realisateur.name }}">
                    </div>
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ realisateur.prenom }}{{ realisateur.nom }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-md-4">
            <div class="card mb-4 h-100">
                <a href="{% url 'addRealisateur' %}">
                    <div class="aspect-ratio aspect-ratio-1x1">
                        <img src="" class="card-img-top img-fluid aspect-ratio-child" alt="Ajouter un realisateur">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Ajouter un realisateur</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
