{% extends 'baseSite.html' %}
{% block title %} Films {% endblock %}
{% load static %}
{% block content %}
<div class="container">
    {% if successfulDeleteMessage %}
    <div class="alert alert-success popup-message" style="position: fixed; height: 10%; width: 20%; text-align: center;">
        {{successfulDeleteMessage}}
    </div>
    {% endif %}
    <div class="row mt-4">
        {% for film in films %}
        <div class="col-md-4">
            <div class="card mb-4 h-100">
                <a href="{% url 'film_view' id=film.id %}">
                    <div class="aspect-ratio aspect-ratio-1x1">
                        <img src="{% static film.imageName.url %}" class="card-img-top img-fluid aspect-ratio-child" alt="{{ film.title }}">
                    </div>
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ film.title }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    {% if user.is_authenticated %}
    </div>
        <p class="text-center mt-2"><a class="btn btn-success" href="{% url 'addFilm' %}">Ajouter un film</a></p>

    </div>
    {% endif %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var popup = $(".popup-message");

        if (popup.length > 0) {
            popup.css("right", "-100%");
            popup.animate({ right: "10px" }, 500);

            setTimeout(function () {
                popup.animate({ right: "-100%" }, 500, function () {
                    popup.remove();
                });
            }, 5000); // Le popup disparaîtra après 5 secondes
        }
    });
</script>
{% endblock %}
