{% extends 'baseSite.html' %}
{% block title %} Films {% endblock %}
{% load static %}
{% block content %}
<div class="container">
    {% if update %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="mb-4">Update Film</h1>
                {% if errorUpdateMessage %}
                    <div class="alert alert-danger popup-message" style="position: fixed; height: 10%; width: 20%; text-align: center;">
                        {{errorUpdateMessage}}
                    </div>
                {% endif %}
                <div class="card">
                    <div class="card-body">
                        <form class="form" action="{% url 'updateFilm' id=film.id %}" method="POST"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div>{{ form.as_p }}</div>

                            <div class="text-right mt-3">
                                <button type="submit" class="btn btn-primary">Sauvegarder</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% else %}
    {% if successAddMessage %} <!-- ici tu peut voir un block qui vérifie le méssage renvoyé aprés l'ajout d'un film en BD et ça affiche un popup (code js bas de la page) -->
                    <div class="alert alert-success popup-message" style="position: fixed; height: 10%; width: 20%; text-align: center;">
                        {{successAddMessage}}
                    </div>
    {% endif %}
    {% if sucessUpdateMessage %} <!-- pareil pour la mise a jour (Je les ai séparé pour la maintenabilité du code) -->
                    <div class="alert alert-success popup-message" style="position: fixed; height: 10%; width: 20%; text-align: center;">
                        {{sucessUpdateMessage}}
                    </div>
    {% endif %}
    <div class="row align-items-center">
        <div class="col-md-4">
        <img src="{% static film.imageName.url %}" class="img-fluid" alt="{{ film.title }}">
        </div>
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ film.title }}</h2>
                    <p class="card-text">{{ film.created_date }}</p>
                    <p>Réalisateur: <a href="{% url 'Realisateur_view' id=film.realisateur_name.id %}"
                            class="card-text">{{ film.realisateur_name.prenom }} {{ film.realisateur_name.nom }}
                        </a></p>
                    <p class="card-text">{{ film.description }}</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'updateFilm' id=film.id %}" class="btn btn-warning">Modifier</a>
                    <a href="{% url 'deleteFilm' id=film.id %}" class="btn btn-danger">Supprimer</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <h3 class="mt-4">Acteurs :</h3>
        <div class="row">
            {% for acteur in film.acteurs.all %}
            <div class="col-md-2 mb-3">
                <div class="card" style="width: 10rem;">
                    <a href="{% url 'acteurView' id=acteur.id %}">
                        <img src="{% static acteur.imageName.url %}" class="card-img-top" alt="{{ acteur.nom }}"
                            style="height: 10rem;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ acteur.prenom }} {{ acteur.nom }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var popup = $(".popup-message");
    
            if (popup.length > 0) {
                popup.css("right", "-100%");
                popup.animate({ right: "10px" }, 500);
    
                setTimeout(function () {
                    popup.animate({ right: "-100%" }, 500, function () {
                        popup.remove();
                    });
                }, 5000); // Le popup disparaîtra après 5 secondes
            }
        });
    </script>
    {% endblock %}
    

    