{% extends 'baseSite.html' %}
{% block title %} Films {% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        {% for film in films %}
        <div class="col-md-4">
            <div class="card mb-4 h-100">
                <a href="{% url 'film_view' id=film.id %}">
                    <div class="aspect-ratio aspect-ratio-1x1">
                        <img src="{% static film.imageName.url %}" class="card-img-top img-fluid aspect-ratio-child" alt="{{ film.title }}">
                    </div>
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ film.title }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-md-4">
            <div class="card mb-4 h-100">
                <a href="{% url 'addFilm' %}">
                    <div class="aspect-ratio aspect-ratio-1x1">
                        <img src="{% static 'images/placeholder-image.jpg' %}" class="card-img-top img-fluid aspect-ratio-child" alt="Ajouter un film">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Ajouter un film</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
